<h1>Listing tasks</h1>

<div ng-controller="TasksCtrl">
  <ul>
    <li ng-repeat="task in tasks">
    {{task.title}}, {{task.finished}}
    </li>
  </ul>
</div>

<%= link_to 'New Task', new_task_path %>
